<!doctype html>
<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css"
    rel="stylesheet" type="text/css">
    <!-- {{ js_resources | safe}} -->
    <!-- {{ css_resources | safe}} -->
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>

</head>
<body>
<H1>Tap Map</H1>

{{ script|safe }}
{{ div|safe }}


</body>
</html>
